<app-header></app-header>
<div class="container">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <h2>Login</h2>
        <br/><hr>
        <form (ngSubmit)="onSignIn(f)" #f="ngForm">
          <div class="form-group">
              <label>Email: </label>
              <input name="username" type="text" id="username" ngModel class="form-control">
          </div>
          <div class="form-group">
              <label>Password: </label>
              <input name="password" type="password" id="password" ngModel class="form-control">
          </div>
          <button class="btn btn-primary active" type="submit">Login</button>
        </form>
        <div style="text-align:center">
            <button routerLink="/signup" class="btn btn-lg">SignUp</button>
        </div>
      </div>
</div>
<app-popup-message [dialogBoxDetail]="dialogBoxDetail"></app-popup-message>